header {
  border: 1px pink solid;
  border-radius: 30px;
}

aside {
  border: green 1px solid;
  border-radius: 30px;
}

main {
  border: blue 1px solid;
  border-radius: 30px;
}

/************************** form **************************/
#searchForm input {
  width: 100%;
  margin-top: 20px;
}

/************************** UV **************************/
.uv {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
.uv-low {
  background-color: green;
  color: white;
}
.uv-moderate {
  background-color: yellow;
}
.uv-high {
  background-color: orange;
}
.uv-veryhigh {
  background-color: red;
  color: white;
}
.uv-extreme {
  background-color: purple;
  color: white;
}

/************************** 5-day forecast **************************/
#forecastDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
