body {
  border-radius: 20px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(56, 56, 56);
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  font-weight: semi-bold;
}

/************************** Header **************************/
header {
  background-color: grey;
  text-align: center;
  padding: 10px;
  color: white;
}

header h1 {
  border: 2px grey solid;
  margin: 0 auto;
  padding: 5px;
  width: 385px;
}

/************************** Search & history sidebar **************************/
#searchForm input {
  width: 90%;
  margin: 20px 10px;
  border-radius: 0px;
  font-size: 14px;
}

.col {
  padding: 0px;
}

aside {
  border: 3px rgba(128, 128, 128, 0.856) solid;
  margin: 15px 5px 0px 10px;
  height: 85vh;
}

.historyCity {
  padding: 15px 10px 15px 20px;
  border-top: 1px solid grey;
}

/************************** Current city div **************************/
.row {
  margin: 0px;
  color: white;
}

main {
  margin: 15px 0px 0px 20px;
}

#currentCityDiv {
  font-size: 20px;
}

#currentCityDiv h1 {
  font-size: 30px;
  border: 3px white solid;
  padding: 8px 8px 10px 8px;
}

.secondaryStyle {
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;
  color: rgb(190, 190, 190);
}

.center {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/************************** UV **************************/
.uv {
  width: 60px;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
}
.uv-low {
  background-color: green;
  color: white;
}
.uv-moderate {
  background-color: yellow;
}
.uv-high {
  background-color: orange;
  color: white;
}
.uv-veryhigh {
  background-color: red;
  color: white;
}
.uv-extreme {
  background-color: purple;
  color: white;
}

/************************** 5-day forecast **************************/
#forecastDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 10px;
}

#forecastHeader {
  width: 100%;
}

#forecastHeader h1 {
  font-size: 20px;
  margin-top: 30px;
  border: 1px white solid;
  width: 190px;
  padding: 5px;
  text-align: center;
}

#forecastDayHeader {
  display: flex;
  align-items: center;
  padding: 0px 0px 20px 10px;
}

.forecastDay {
  padding: 25px 15px 35px 15px;
  margin: 10px 5px;
  border: rgba(255, 255, 255, 0.5) 1px solid;
  background-color: rgba(201, 201, 201, 0.4);
}

.forecastDay p {
  padding: 0px;
  margin: 0px;
}
